body {
  background: #ededed;
}

.row {
  display: flex;
}

.containerl {
  float: left;
  padding-top: 15px;
  position: relative;
  width: 67%;
  top: 50px;
  bottom: 0;
}
.containerl .cardl {
  background: #ffffff;
  margin: 0 auto;
  width: 700px;
  height: 540px;
  margin: auto;
  box-shadow: 0 0 300px -40px #727386;
}

header {
  width: 700px;
  height: 220px;
}

.containerl .cardl .ProfileAvatar .Message {
  position: absolute;
  margin-top: 85px;
  margin-left: 160px;
  width: 50px;
  height: 50px;
}

.containerl .cardl .ProfileAvatar .Avatar {
  position: absolute;
  margin-top: 35px;
  margin-left: 270px;
  width: 140px;
  height: 140px;
  /* box-shadow: 0 0 300px -40px #727386; */
}

.containerl .cardl .ProfileAvatar .editdp {
  position: absolute;
  margin-top: 85px;
  margin-left: 475px;
  width: 50px;
  height: 50px;
}
.containerr {
  float: right;
  padding-top: 15px;
  position: relative;
  width: 33%;
  top: 50px;
  bottom: 0;
}
.containerr .cardr {
  background: #ffffff;
  position: absolute;
  box-sizing: border-box;
  margin: 0 auto;
  width: 350px;
  height: 540px;
  margin: auto;
  box-shadow: 0 0 300px -40px #727386;
}

.bar {
  background: #fdfbfc;
  height: 53.1px;
  /* border: 0.5px solid red; */
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
  transition: background-colour;
  transition-duration: 2s;
}
a {
  display: inline-block;
  /* width:70%; */
  text-decoration: none;
  color: #9c9397;
  /* text-align: right; */
}

.info {
  /* width: 70%; */
  /* text-align: center; */
  position: absolute;
  left: 20px;
}

.counter {
  /* width: 30%; */
  /* text-align: right; */
  position: absolute;
  right: 10px;
}

.bar:hover {
  background-color: #eeeeee;
}
.Rbar {
  background: #fdfbfc;
  box-sizing: border-box;
  /* border: 0.5px solid red; */
  height: 53.1px;
  font-size: 24px;
}

hr {
  height: 1px;
  background-color: #ececec;
  border: none;
  margin: 0px;
}

.emoji {
  max-height: 35px;
  max-width: 35px;
  padding: 9px;
}
h3 {
  /* position: absolute; */
  /* left: 112px; */
  /* top: 5px; */
  color: #286b8d;
  margin: 0px;
  display: block;
  text-align: center;
}

/*----------Yogessh's CSS Starts--------*/
.about {
  text-align: center;
  bottom: 70%;
  font-family: cursive;
}
.btn-design {
  background: #3796f0;
  position: center;
  margin-top: 12%;
  font-family: cursive;
  border: none;
  padding: 10px;
}
.bottom-leftl {
  position: absolute;
  bottom: 15%;
  left: 22%;
  font-family: cursive;
  font-weight: bold;
  color: #414479;
}
.bottom-rightl {
  position: absolute;
  bottom: 15%;
  right: 22%;
  font-family: cursive;
  font-weight: bold;
  color: #414479;
}
p {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  color: rgb(132, 181, 214);
}
/*----------Yogessh's CSS Ends--------*/
